{% extends 'healthApp/base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
 <div class="page-header">
                <h1>{{ category_name }}</h1>
            </div>
    
    {% if category %}
        {% if pages %}
			<ul>
                {% for page in pages %}
                <li>
				<a href="{{ page.url }}">{{ page.title }} <p> 
				 <input type="submit" name="del_btn" value="Delete"/>
				<a href="/healthApp/category/{{ category.slug }}/delete_page{{category.id}}" target="_blank">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</a>
				</a></li>
                {% endfor %}
            </ul>
        {% else %}
                <strong>No pages currently in category.</strong>
                {% endif %}

        {% if user.is_authenticated %}
                <a href="{{category.slug}}/add_page/">Add a Page</a>
                {% endif %}
        {% else %}
                 The specified category {{ category_name }} does not exist!
    {% endif %}
	<br>
	<br>

{% endblock %}
		
