{% extends 'healthApp/base.html' %} {% load staticfiles %} {% block title %}Index{% endblock %} {% block body_block %} {% if user.is_authenticated %}

<div class="container">
  <div class = "jumbotron">
    <h1> hello {{ user.username }}!</h1> {% else %}
  <h1></h1> {% endif %}
</div>
</div>
<br>


<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">What is eHealth?</div>
        <div class="panel-body">
          eHealth is a non-profit health application that allows users to search a various amount of health-related queries, and they get results from different locations, mainly Bing, Medline and HealthFinder. Create an account now to save your results and create
          a neat folder system of all your query results.
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-sm-5">
      <div class="panel panel-primary">
        <br/>



        <form class="form-inline" id="user_form" method="post" action="{% url 'search' %}">
          {% csrf_token %}
          <!-- Display the search form elements here -->
          <input class="form-control" type="text" size="50" name="query" value="" id="query" />
          <input class="btn btn-primary" type="submit" name="submit" value="Search" />
          <br />
        </form>

        <div class="panel">
          {% if result_list %}
          <div class="panel-heading">
            <h3 class="panel-title">Results</h3>
            <!-- Display search results in an ordered list -->
            <div class="panel-body">
              <div class="list-group">
                {% for result in result_list %}
                <div class="list-group-item">
                  <h4 class="list-group-item-heading"><a href="{{ result.link }}">{{ result.title }}</a></h4>
                  <p class="list-group-item-text">{{ result.summary }}</p>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>



  {% endblock %}
