{% extends 'healthApp/base.html' %}
{% load staticfiles %}
{% block title %}Index{% endblock %}
{% block body_block %}

	{% if user.is_authenticated %}
		<div class="container">
  <div class = "jumbotron">
    <h1> hello {{ user.username }}!</h1> {% else %}
  <h1></h1> {% endif %}
</div>
</div>
	<br>


<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">What is eHealth?</div>
        <div class="panel-body">
          eHealth is a non-profit health application that allows users to search a various amount of health-related queries, and they get results from different locations, mainly Bing, Medline and HealthFinder. Create an account now to save your results and create
          a neat folder system of all your query results.
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-lg-8">
      <div class="panel panel-primary">
        <br/>
        <div class="panel-body">
            <form class="form-inline" id="user_form" method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <!-- Display the search form elements here -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control" size="100" name="query" value="" id="query" placeholder="Search eHealth...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" name="submit">Search</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div>
        </div>
    </div>
          <br />
        </form>
        </form>




  {% endblock %}
