{% extends "healthApp/base.html" %}

{% load staticfiles %}

{% block title %}Search{% endblock %}
 {% block js %}
{% endblock %}

{% block body_block %}

    <div class="page-header">
        <h1>Search with eHealth</h1>
    </div>

<div class="row">

    <div class="panel panel-primary">
    <br/>

		<form class="form-inline" id="user_form" method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <!-- Display the search form elements here -->
            <input class="form-control" type="text" size="50" name="query" value="" id="query" />
            <input class="btn btn-primary" type="submit" name="submit" value="Search" />
            <br />
        </form>

            <div class="panel">
                {% if result_list %}
                    <div class="panel-heading">
                    <h3 class="panel-title">
						<table width="500">
							<tr>
								<td width="40%">
									Results
								</td>
								<td width="40%">

								</td>
								<td width="40%">

								</td>
							
								<td width="40%">
								{% if user.is_authenticated %}
										<button type="button" class="btn pull-right btn-md" data-toggle="modal" data-target="#saveModal" aria-label="Left Align">
										<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
										</button>
										
									{% else %}
										
										<button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#warningModal" aria-label="Left Align">
										<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
										</button>
					
									{% endif %}	
								</td>
							</tr>
						</table>
					
					</h3>
                    <!-- Display search results in an ordered list -->
                    <div class="panel-body">
									
                        <div class="list-group">
                            {% for result in result_list %}
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading"><a href="{{ result.link }}">{{ result.title }}</a></h4>
                                    <p class="list-group-item-text">{{ result.summary }}</p>
									<p class="list-group-item-text"><b>Source: </b>{{  result.source }}</p>
									
									
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
	</div>
</div>

	<!-- Category Modal -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
				
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                     <h4 class="modal-title" id="myModalLabel">Choose a category</h4>
					 </div>
                <div class="modal-body">
				<form id="category_form" method="post" action="/healthApp/category/"  role="form" method="post" action=".">
					
         <div class="row placeholders">
            <div class="col-xs-12 col-sm-16 placeholder">
			
               <div class="panel panel-primary">
					<div class="panel-heading ">
						<h3 class="panel-title ">Categories</h3>
					</div>
				</div>
			
			<div class="field ">
				{% if categories %}
                    <ul class="list-group">
						{% for category in categories %}
							<li class="list-group-item">{{ category.name }}
							<p>
							<a href="/healthApp/category/{{ category.slug }}" target="_blank">
								<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
							</a>
							</p>
							</li>
						{% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no categories present.</strong>
					
                {% endif %}

            </div>
            </div>

          </div>
				</form>
	<div class="modal-footer">
                <a href="{% url 'add_category' %}">Add a New Category</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!-- End Category modal -->




 	<!-- Waning Modal -->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
				
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                     <h4 class="modal-title" id="myModalLabel">Not registered ??</h4>
				</div>
					 
					<p>Unforgunately you cannot save a category if you are not registered.</p>
					<br>
					<p><a href="{% url 'registration_register' %}">Register Here!</a></p>
					
				<div class="modal-footer">
                   
                </div>
            </div>
        </div>
    </div>
</div>


<!-- End Waning modal -->

{% endblock %}